.idea/
__pycache__/
*.py[cod]
roms/
temp/models/
course2/models/
course3/models/
course3/models
course3-1/models
course3/train_log
course4/models
course5/models
course5/train_log
course6/models
course6/train_log